.card-with-icon {
    width: 282px;

    &__inner {
        background-color: #DCECFF;
        border-radius: 24px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 234px;
    }

    &__image {
        width: 64px;
        height: 64px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        width: 100%;
    }

    &__text {
        color: #4C6785;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.21;
        margin: 0;
    }
}
