// Bootstrap styles
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// Slick Carousel styles
@import "../../../../node_modules/slick-carousel/slick/slick";
@import "../../../../node_modules/slick-carousel/slick/slick-theme";

// Swiper custom overrides (core/module styles are imported via JS)
@import "./swiper";

// Components
@import "../components/components";